// 主工程的 BundleID 
APP_PRODUCT_BUNDLE_IDENTIFIER = com.volcengine.ttsdk.quickstart.demo
// 录屏推流的 Extension BundleID 
SC_PRODUCT_BUNDLE_IDENTIFIER = ${APP_PRODUCT_BUNDLE_IDENTIFIER}.sc
// 主工程和录屏推流使用的 GroupID 
APP_SC_GROUP_ID = group.${APP_PRODUCT_BUNDLE_IDENTIFIER}
// 代码使用的宏定义 
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_SC_GROUP_ID=\"group.${APP_PRODUCT_BUNDLE_IDENTIFIER}\" SC_PRODUCT_BUNDLE_IDENTIFIER=\"${SC_PRODUCT_BUNDLE_IDENTIFIER}\"
